<h3>
  <%= link_to article.title, article_path(article) %>
  <% if current_user == article.user %>
  		<%= link_to "Edit", edit_article_path(article) %>
  		<%= link_to 'x', article_path(article), method: :delete %>
  <% end %>
 </h3>
